.footer {
  margin-top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.about {
  margin: 0 auto;
  max-width: 728px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
}

.references {
  color: grey;
  font-size: 0.8rem;
  text-align: center;
}

.about__section {
  margin-bottom: 1.5rem;
}

.link {
  color: #4183c4;
}

@media screen and (min-width: 728px) {
  .about {
    grid-template-columns: repeat(3, 1fr);
  }
}
